service cloud.firestore {
  match /databases/{database}/documents {
    match /stores_data/{storeId} {
      allow read, write: if true;
      
      match /{allChildren=**} {
        allow read, write: if true;
      }
    }
    match /products/{productId} {
      allow read, write: if true;
    }
    match /orders/{orderId} {
      allow read, write: if true;
    }
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /maintenance_requests/{requestId} {
      allow read, write: if true;
    }
    match /shared_reports/{reportId} {
      allow read, write: if true;
    }
    match /employees/{employeeId} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read, write: if true;
    }
    match /shared_audits/{auditId} {
      allow read, write: if true;
    }
    
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}


